colorama==0.4.6
iniconfig==2.1.0
mypy==1.16.0; python_version >= '3.9'
mypy==1.14.1; python_version < '3.9'
mypy_extensions==1.1.0; python_version >= '3.9'
mypy_extensions==1.0.0; python_version < '3.9'
packaging==25.0
pathspec==0.12.1
pluggy==1.6.0; python_version >= '3.9'
pluggy==1.5.0; python_version < '3.9'
Pygments==2.19.1
pytest==8.4.0; python_version >= '3.9'
pytest==7.4.0; python_version < '3.9'
typing_extensions==4.14.0; python_version >= '3.9'
typing_extensions==4.13.2; python_version < '3.9'
